.idea
.DS_Store
app/internal/playground
/examples/proto/example.pb.go
Dockerfile
examples/client_example/client-log
examples/client_example/client-log-bypass
examples/relays
client-log
bins/
server_log
.scannerwork
cover*
sonar-project.properties
vendor
app/profiles
*.pyc
*.pyo
*venv
churn.config
dirs.config
ip.list
layers.config
mixes.config
servers.config
sys.config

app/mixnet/data/
**/tendermint-configs/
app/output.json
app/pid.list

# runner:
configurations
private_ips.json
app/cmd/eval/plotter/check.png
app/cmd/eval/logs
rrpc.pem
logs
cpu.*

app/cmd/eval/final-logs/
app/cmd/eval/m6a.zip
app/cmd/eval/m6a/
app/cmd/eval/runner/key-shard-improve-50-server-results/
app/cmd/eval/runner/results.zip
app/cmd/eval/runner/results/
pass-and-user.json